# 10 Python Foundation Questions

# Q1: What is the output of following expression
    #5 + 4 * 9 % (3 + 1) / 6 - 1

5+4*9%4/6-1
5+36%4/6-1
5+0/6-1
5-1
4

In [1]:
 5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

# Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [5]:
num=input(('enter a no: '))
print('enter a number')
try:
    if float(num)%2==0:
        print('no. is even')
    else:
        print('no. is odd')
except:
    print('Please enter the valid no.')

enter a no: g
enter a number
Please enter the valid no.

# Q3: Write a program to display the table by taking the number as input.

In [6]:
table_of=int(input(('you want table of which number: ')))
n=1
while n<=10:
    print(table_of*n)
    n+=1

you want table of which number: 5
5
10
15
20
25
30
35
40
45
50

In [7]:
table=int(input(('you want table of which number: ')))

for var in range(1,11):
    print(table,'x',var,'=',table*var)

you want table of which number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [8]:
x=[]
for a in range(2001,3200):
    if (a%7==0) and (a%35!=0):
        x.append(str(a))
print (','.join(x))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Q5: Count the elements of each datatype inside the list and display in output
   l= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
l= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
from collections import Counter

c = Counter(type(x).__name__ for x in l)
print(dict(c))

{'int': 5, 'str': 4, 'float': 1, 'bool': 1, 'NoneType': 1}

# Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [11]:
l2= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
out=0
for var in l2:
    if type(var) in (int,float,bool):
        out=out+var
print(out)

22.5

# Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [12]:
l3=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
l4=[]
for var in l3:
    if type(var)==str:
        l4.append(var)
print('-'.join(l4))

Py-10-SQL-John

# Q8: Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str 
    2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7

In [13]:
def my_func(x):
    l={'Sum':0,'count_of_strings':0}
    
    for var in x:
        if type(var) in(int,float):
            l['Sum']+=var
        elif type(var)==str:
            l['count_of_strings']+=1
    return l

In [15]:
my_func(l)

{'Sum': 21.5, 'count_of_strings': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with map

In [49]:
#using loops
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
l0=[]
for var in li:
    if var%2!=0:
        l0.append(var)
print(l0)

[5, 7, 97, 77, 23, 73, 61]

In [55]:
#list comprehension
l=[var for var in li if var%2!=0]

In [56]:
l

[5, 7, 97, 77, 23, 73, 61]

In [61]:
#lambda function
list(filter(lambda var: var%2!=0 ,li))

[5, 7, 97, 77, 23, 73, 61]

# Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for the n number of input numbers.

In [16]:
def func_des(*args):
    out_desc={'sum':0,'count':0,'min':None,'max':None,'mean':None}
    l0=[]
    for var in args:
        if type(var) in (int,float):
            l0.append(var)
    out_desc['sum']=sum(l0)
    out_desc['count']=len(l0)
    out_desc['mean']=sum(l0)/len(l0)
    out_desc['min']=min(l0)
    out_desc['max']=max(l0)
    
    return out_desc

In [17]:
func_des(1,2,4,3.3,5,4,4)

{'sum': 23.3, 'count': 7, 'min': 1, 'max': 5, 'mean': 3.3285714285714287}